body
{
    background-color: #EEEEEE;
}

#fp
{
    height: 480px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text
{
    color: #333333;
}

.main
{
    text-align: center;
}

.list
{
    display: inline-block;
    text-align: left;
}

.img
{
    height: 300px;
    width: auto;
}